.ribbon-container{
  padding-top: 10px;
  padding-bottom: 20px;
}

.remaining-days-container {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 15px;
}

.remaining-days {
  color: #e47a00;
}

//Ribbon CSS - to make changes you need to change the values in this top block
$countdown-background-color: #FFB561;
$countdown-height: 40px;
$countdown-width: 140px;
$ribbon-width: $countdown-height * 0.3; // the multiplier here changes the depth of the ribbon end, a higher multiplier makes it deeper
.ribbon-body {
  height: $countdown-height;
  width: $countdown-width;
  background: $countdown-background-color;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ribbon-body::after {
  content: "";
  position: absolute;
  right: -$ribbon-width;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: $countdown-height*0.5 solid $countdown-background-color; //must be half of countdown height
  border-right: $ribbon-width solid transparent;
  border-bottom: $countdown-height*0.5 solid $countdown-background-color; //must be half of countdown height
}





