.header {
  background: #fff1c7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .header-title{
    text-align: left;
    font-size: 17px;
    color: #e47a00;
    margin: 0;
    padding-top: 10px;
    padding-left: 30px;
  }
}