.user-card {
  border: solid #e8ecf9;
  border-width: 1px 0px 0px 0px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  padding: 5px;
  height: 25px;
  &:first-child{
    border-width: 0px;
  }
  &.current-user{
    background: #f2f5fc;
  }
  .user-card-position{
    color: #a9b5cc;
    margin-right: 10px;
  }
  .user-card-name{
    color: #29343a;
  }
  .user-card-xp{
    color: #ffc71e;
  }


}